h1 {
  padding: 8px 8px 8px 12px;
  border: 1px solid #666;
  color: #700;
  background-color: #ccc;
  font-weight:900;
  font-size: x-large;
}

h2 {
  padding: 4px 4px 4px 6px;
  border: 1px solid #666;
  color: #600;
  background-color: #ddd;
  font-weight:900;
  font-size: large;
}

h3 {
  color: #500;
  font-weight:900;
  font-size: medium;
}

a {
}
a:link {
  color:#25d;
}
a:visited  {
  color:#36d;
}
a:active, a:hover {
  color:#58e;
}

.menu {
  padding: 8px 8px 12px 12px;
  border: 1px solid #666;
  color: #600;
  background-color: #eee;
  text-decoration: none;
  font-weight:bold
}

pre {
  padding: 4px 4px 6px 6px;
  border: 1px solid #666;
  color: #000;
  background-color: #eee;
}

